<header>
    <div class="header-container">
        <div>
            <h1 class="site-title">
                <a href="{{ .Site.BaseURL }}">{{ .Site.Params.shortName }}</a>
            </h1>
            <p class="site-tagline">{{ .Site.Params.organizationName }}</p>
        </div>
        
        <nav>
            <ul>
                {{ range .Site.Menus.main }}
                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </nav>
    </div>
</header>
